<!DOCTYPE html>
<html>

<head>
    <title>test</title>
</head>

<body>
    <div id="custom" class="card-primary">
        <div class="a"></div>
        <div class="b"></div>
    </div>



    <style>

        .card-primary {
            width: 702px;
            /* relative w-full rounded-32px */
            {{!-- background-image: url(https://staticfile.eduplus.net/qcard/default/qcard_240603_style1-bg1.png);
            background-size: 100% 100%;
            background-position: center; --}}
        }

        .a {
            width: 100%;
            height: 600px;
            background-color: aquamarine;
            page-break-before: always;
        }
        .b {
             page-break-before: always;
            width: 100%;
            height: 600px;
            background-color: rgb(110, 149, 255);
        }




    </style>
    </div>
</body>

</html>